package pages

import "github.com/ed-henrique/ed-henrique.com/pages/components"

templ PostsPreviews() {
  No posts yet.
}

templ Posts(v int) {
  @components.Base(v, "posts") {
    <div class="text-sm sm:text-base pt-3">No posts yet.</div>
  }
}

templ PostPreview() {}

templ Post(v int) {
  @components.Base(v, "") {}
}

