package pages

import "github.com/ed-henrique/ed-henrique.com/pages/components"

templ Post() {
  @components.Base("", "Ed's site") {}
}

templ Posts() {
  @components.Base("posts", "Ed's site") {}
}
