package pages

import "github.com/ed-henrique/ed-henrique.com/pages/components"

templ ProjectsPreviews() {
  No projects yet.
}

templ Projects(v int) {
  @components.Base(v, "projects") {
    <div class="text-sm sm:text-base pt-3">No projects yet.</div>
  }
}

templ ProjectPreview() {}

templ Project(v int) {
  @components.Base(v, "") {}
}
