package pages

import "github.com/ed-henrique/ed-henrique.com/pages/components"

templ Project() {
  @components.Base("", "Ed's site") {}
}

templ Projects() {
  @components.Base("projects", "Ed's site") {}
}
